body {
  margin: 0;
  background-color: #181818;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn_container {
    flex-direction: row;
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 516px;
    position: absolute;
    padding: 0;
    overflow: hidden;
    border: 1px solid #707070;
    border-radius: 7px;
    background-color: #e74c3c;

    &__header {
      width: auto;
      padding: 25px;
      font-size: 20px;
      color: #fff;
      background-color: #d44637;
      border-bottom: 1px solid #707070;
    }

    &__closeBtn {
      position: absolute;
      top: 25px;
      right: 31px;
      cursor: pointer;
    }

    &__text {
      margin: 0;
      padding: 34px;
      text-align: center;
      color: #fff;
    }

    &__btnContainer {
      display: flex;
      justify-content: center;

      margin: 0 0 24px 0;

      button {
        margin: 5px;
        width: 101px;
        height: 41px;
        background-color: #b3382c;
        border: 1px solid #707070;
      }
    }
  }

  .cards {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;

      .card {
        margin: 10px;
        padding: 10px;
        border: 1px solid #aaaaaa;
        border-radius: 1em;
        text-align: center;

        h3,
        p {
          margin: 0;
        }

        .card_header {
          display: flex;
          flex-direction: column;
          text-align: left;
        }

        &_img {
          width: 220px;
          height: 190px;
        }

        &_item,
        &_item-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &_ID-article,
        &_color {
          font-size: 12px;
          color: #a8a7a7;
        }

        &__btn-container {
          .btn__green {
            background-color: #259225;
            &:hover {
              background-color: #25922577;
            }
          }

          .btn__red {
            background-color: #9e2a2a;
            &:hover {
              background-color: #9e2a2a77;
            }
          }
        }
      }

      .card:hover {
        box-shadow: 0 0 10px 2px #918383a8;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #26291885;

        &_star-stroke {
          fill: #e2f10465;
        }
        &_star {
          fill: #e1f104a2;
        }
      }

      .btn:hover {
        background-color: #5f5f5fb7;
      }
    }
  }
}
