.App {
  width: 100%;

  .cards-list {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }

  @import "../ModalClass/Modal.scss";
  @import "../Card/Card.scss";
  @import "../Header/Header.scss";
  @import "../Navbar/navbar.scss";
}
