.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 516px;
    position: absolute;
    padding: 0;
    overflow: hidden;
    border: 1px solid #707070;
    border-radius: 7px;
    background-color: #e74c3c;

    &__header {
      width: auto;
      padding: 25px;
      font-size: 20px;
      color: #fff;
      background-color: #d44637;
      border-bottom: 1px solid #707070;
    }

    &__closeBtn {
      position: absolute;
      top: 25px;
      right: 31px;
      cursor: pointer;
    }

    &__text {
      margin: 0;
      padding: 34px;
      text-align: center;
      color: #fff;
    }

    &__btnContainer {
      display: flex;
      justify-content: center;

      margin: 0 0 24px 0;

      button {
        margin: 5px;
        width: 101px;
        height: 41px;
        background-color: #b3382c;
        border: 1px solid #707070;
      }
    }
  }
}
