@mixin linkFont {
  color: #ffffffbe;
  fill: #ffffffbe;
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  @include displayFl-center(center);
  position: sticky;
  top: 0;
  padding: 0.8em;
  border-bottom: 4px solid #303030ab;
  background-color: #181818;

  &__logo {
    @include displayFl-center(base-line);
    @include linkFont();

    font-weight: 800;
    font-size: 2em;
  }

  #header__logo_svg {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  p,
  h1,
  span {
    margin: 0;
  }
}
