@mixin displayFl-center($al-it) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: $al-it;
}

@import "./components/App/App.scss";

body {
  margin: 0;
  background-color: #181818;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
