.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  text-align: center;

  h3,
  p {
    margin: 0;
  }

  .card_header {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &_img {
    width: 220px;
    height: 190px;
  }

  &_item,
  &_item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
  }

  &_ID-article,
  &_color {
    font-size: 12px;
    color: #a8a7a7;
  }

  &__btn-container {
    .btn__green {
      background-color: #259225;
      &:hover {
        background-color: #25922577;
      }
    }

    .btn__red {
      background-color: #9e2a2a;
      &:hover {
        background-color: #9e2a2a77;
      }
    }
  }
}

.card:hover {
  box-shadow: 0 0 10px 2px #918383a8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #26291885;

  &_star-stroke {
    fill: #e2f10465;
  }
  &_star {
    fill: #e1f104a2;
  }
}

.btn:hover {
  background-color: #5f5f5fb7;
}
