.saveDelItems {
  @include displayFl-center(center);
  @include linkFont();
  padding: 1em;
  border-radius: 1em;
  background-color: #4e4e4e71;
  font-weight: 600;

  .star,
  .home {
    margin-right: 1em;
  }

  .home,
  .bin,
  .star {
    @include displayFl-center(center);
    padding: 10px;
    border: 3px solid #b8b8b823;
    border-radius: 10px;

    .star_txt,
    .star_btn,
    .bin_txt,
    .bin_btn {
      @include displayFl-center(center);
    }
  }

  .home:hover,
  .bin:hover,
  .star:hover {
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: #5a420071;
  }

  #home_ico,
  #bin_ico,
  #star_ico {
    margin-left: 5px;
  }
}
