body {
  margin: 0;
  background-color: #181818;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn_container {
    flex-direction: row;
  }

  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 516px;
    position: relative;
    padding: 0;
    overflow: hidden;
    border: 1px solid #707070;
    border-radius: 7px;
    background-color: #e74c3c;

    &__header {
      width: auto;
      padding: 25px;
      font-size: 20px;
      color: #fff;
      background-color: #d44637;
      border-bottom: 1px solid #707070;
    }

    &__closeBtn {
      position: absolute;
      top: 25px;
      right: 31px;
      cursor: pointer;
    }

    &__text {
      margin: 0;
      padding: 34px;
      text-align: center;
      color: #fff;
    }

    &__btnContainer {
      display: flex;
      justify-content: center;

      margin: 0 0 24px 0;

      button {
        margin: 5px;
        width: 101px;
        height: 41px;
        background-color: #b3382c;
        border: 1px solid #707070;
      }
    }
  }

  .btn__green {
    background-color: #259225;
  }

  .btn__red {
    background-color: #9e2a2a;
  }

  .header {
    margin: 15px;
  }
}
